* {
    margin: 0;
    }
    
    nav {
      color: #00e0d0;
    }
    
    #hero-section {
     color: white;
     background-image: url(src/bgk-header.png);
     width: 100%;
     height: 90vh;
    }
    
    #our_story-section{
     color: green;
    }
    
    #watch-section{
      color: red;
    }
    
    #expertise-section{
      color: fuchsia;
    }
    
    #team-section{
      color: yellowgreen;
    }
    
    #contact_client-section{
      color: lightsalmon;
    }
    
    footer{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background-image: url(src/bgk-footer.png);
      color:azure;
      padding: 40px 40px;
    }

    .main-footer-part {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .company {
      width: 20%;
    }

    .watch-section{
      
      
    }

    .middleImage {
      position: relative;
    }

    .youtubeImage {
      position: absolute;
      top:275px;
      left:670px;
      

    }
    
    .expertise-section{
      color: rgb(36, 35, 36);
      display: flex;
      justify-content: center;
      flex-direction: column; 
      align-items: center;     
        
    }

    .expertise1{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }


    .mainContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 15vw;
      margin-right: 15vw;
      
    }

    

    .contact {
      width: 30%
    }

    .stay-in-touch {
      width: 30%
    }

    .company-name-footer{
      display: inline-flex;
    }

    .company-name-footer img {
      width: 40px;
      padding: 8px 8px;
    }

    .company-name-footer p {
      color: #6FDCD0;
      font-size: 40px;
    
    }

    .legacy {
      display: flex;
      flex-direction: row;
      margin-top: 1em;
    }

    .legacy p {
      padding-right: 2em;
    }

    .caption {
      justify-content: flex-end;
      font-size: 14;
    }

  .newsletter {
    display: inline-flex;
  }

   .newsletter input{
     margin-top: 32px;
     padding: 4px;
     height: 32px;
     width: 208px;
     border: none;
   }

   .newsletter img{
    margin-top: 32px;
    margin-left: 8px;
    padding: 8px 8px;
    height: 24px;
    width: 24px;
    background-color: azure;
    opacity: 30%;
  }

  .social-media{
    margin-top: 8px;
  }
  .name-section{
    text-transform: uppercase;
    margin-top: 8px;
  }

  .legacy {
    text-transform: uppercase;
    font-weight: 100;
  }
    
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
      


    
    .main-team-section{
      background: url(bgk-header.png) ;
      height: 600px;
      width: auto;
      
    
    }

    .member{
      border: white solid 1px;
      height: 280px;
      width: 200px;

    }

    .photo{
      height: 200px;
      width: 200px;
      background-color: white;
    }

    .main-team-section h1{
      
      color: white;
      padding-top: 3px;
    }

    .main-team-section h3{
      margin-top: 10px;
      margin-bottom: 30px;
      color: white;
      font-weight: 100;
     }

     .main-team-section h4{
       color: white;
       font-weight: 100;
     }

  .team-members{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-column-gap: 20px;
    margin: 25px;
    margin-left: 15%;
    margin-right: 15%;
  }
.main-team-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.epigraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    
  }
  
  @media screen and (max-width:700px){
    .team-members{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-row-gap: 20px;
    }
    .main-team-section{
      height: 900px;
      background-size:cover  ;
    }
  }
  
